Repository buildpacks/rfcs, pull requests merged in 2020-11, with the labels that each got.

#110 Buildpacks should be able to provide the default process for an app
  text/0000-buildpacks-contribute-default-process-type.md
Labels: Final Comment Period, Implementation, issues-created/core, issues-created/implementation, issues-created/learning, issues-created/platform, spec/buildpack, spec/platform

#116 Add Extension Spec for Builder
  text/0000-builder-spec.md
Labels: Core, Final Comment Period, issues-created/core, issues-created/implementation, issues-created/learning, issues-created/platform, spec/extensions/builder

#115 RFC: Prelease Versions and Experimental Features for API
  text/0000-lifecycle-prelease-version-and-experimental-section.md
Labels: Core, Final Comment Period, issues-created/core, issues-created/implementation, issues-created/learning, issues-created/platform
